<!DOCTYPE html>
<html>
    <head>
        <title>AGS Rest API by Gerhard Posch</title>
    </head>
<body>
<h1>Welcome to the AGS Rest API!</h1>
<p></p>
The AGS is the <a href="https://de.wikipedia.org/wiki/Amtlicher_Gemeindeschl%C3%BCssel">Amtliche Gemeindeschlüssel</a>
AGS Search is a JSON Rest API to query the AGS by key or place (eg. city, village, county) for Germany.
<p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Namensnennung-Nicht kommerziell 4.0 International Lizenz</a>.</p>
<br>
<h2>Endpoints</h2>

<h3>/ags/</h3>
<br>
<h3>/village/</h3>
</body>
</html>